@model IEnumerable<ResumeManagement.Models.Qualification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Qualifications</h2>


<p class="d-flex justify-content-end">
    @Html.ActionLink("Create", "Create",  null, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.QualificationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QualificationName)
        </td>
        <td style="text-align:left">
            @Html.ActionLink("Edit", "Edit", new { id = item.QualificationId }, new { @class = "btn btn-success btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.QualificationId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
